<mat-toolbar color="primary">
    <mat-toolbar-row>
        <img  class="logo" src="../../../assets/icons/logo.png" alt="">
        <div class="search-box" appearance="fill" [formGroup]="searchBox">
            <input type="text" formControlName="searchText" placeholder="Search character..." (keyup)="searchText(searchBox.value.searchText)">
            <button class="search-btn" matSuffix mat-icon-button aria-label="Search">
                <mat-icon>search</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>
  