<div class="modal-bg" (click)="closeModal()"></div>
<div class="modal-cont">
    <div class="modal">
        <div class="modal-cont-close">
            <button class="modal-close" (click)="closeModal()">
                <img src="../../../assets/icons/btn-close.png" alt="">
            </button>
        </div>
        <div class="modal-head">
            <div class="modal-img" [ngStyle]="{'background-image': 'url(' + item.thumbnail.path + '.' + item.thumbnail.extension + ')'}">
            </div>
            <div class="modal-info">
                <h1>{{ item.name || item.title }}</h1>
                <p>{{ item.description }}</p>
            </div>
        </div>
        <div class="modal-btns" *ngIf="type===1">
            <button class="modal-btn" (click)="saveFavorite(item)" *ngIf="!isFavorite">
                <img src="../../../assets/icons/btn-favourites-default.png" alt="">
                Add to Favorites
            </button>
            <button class="modal-btn active" (click)="removeFavorite(item.id)" *ngIf="isFavorite">
                <img src="../../../assets/icons/btn-favourites-primary.png" alt="">
                Remove from Favorites
            </button>
            <button class="modal-btn">
                <img src="../../../assets/icons/shopping-cart-primary.png" alt="">
                Buy for {{ item.prices[0].price }}
            </button>
        </div>
        <div class="modal-comic-list" *ngIf="type===2">
            <h2>Related Comics</h2>
            <ul>
                <li *ngFor="let comic of item.comics.items">{{ comic.name }}</li>
            </ul>
        </div>
    </div>
</div>