@import "~src/scss/base/variables";
.modal-bg {
    position: fixed;
    background-color: $black;
    opacity: .8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.modal-cont {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 705px) {
        position: absolute;
    }
    .modal {
        width: 500px;
        background-color: $white;
        max-height: 30rem;
        overflow: auto;
        position: relative;
        @media (max-width: 705px) {
            position: fixed;
            width: 90%;
        }
        .modal-cont-close {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: end;
            .modal-close {
                position: fixed;
                float: right;
                background: transparent;
                border: none;
                margin-top: 0.5rem;
                margin-right: 0.5rem;
                cursor: pointer;
            }
        }
        .modal-head {
            display: flex;
            justify-content: space-evenly;
            padding: 2rem;
            .modal-img {
                width: 200px;
                min-width: 200px;
                height: 250px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }
            .modal-info {
                padding-left: 1rem;
            }
        }
        .modal-btns {
            background: red;
            height: 3.5rem;
            display: flex;
            .modal-btn {
                width: 50%;
                cursor: pointer;
                border: none;
                display: flex;
                align-items: center;
                justify-content: center;
                text-indent: 1rem;
                font-weight: bold;
                text-transform: uppercase;
                &:first-child {
                    background-color: $light-grey;
                    &.active {
                        background-color: $warm;
                        color: $primary;
                    }
                }
                &:last-child {
                    background-color: $light-grey-2;
                    color: $primary;
                }
            }
        }
        .modal-comic-list {
            padding: 2rem;
            padding-top: 0;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                padding: 0;
                li {
                    margin: 0.5rem 1rem 1rem 0rem;
                    list-style: none;
                }
            }
        }
    }
}