.comic-cont {
    padding: 1rem;
    width: 10rem;
    height: 17rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 auto;
    margin-top: 1rem;
    cursor: pointer;
    .comic-remove {
        border: none;
        float: right;
        margin-top: -.5rem;
        margin-right: -.5rem;
        cursor: pointer;
    }
    .comic-image {
        width: 10rem;
        height: 15rem;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .comic-title {
        text-align: center;
        font-weight: bold;
    }
}