@import "~src/scss/base/variables";
.card {
    margin: 2rem;
    max-width: 25rem;
    width: 25rem;
    height: 21rem;
    background-color: $white;

    @media (max-width: 705px) {
        max-width: 20rem;
        width: 20rem;
        height: 28rem;
    }
    .flex {
        display: flex;
        .card-img {
            min-width: 12rem;
            border-radius: 50%;
            width: 12rem;
            height: 12rem;
            position: relative;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            margin-top: -1rem;
            margin-left: -1rem;
            box-shadow: $light-shadow;
            cursor: pointer;
            transition: .3s;
            &:hover {
                opacity: .8;
            }

            @media (max-width: 705px) {
                min-width: 10rem;
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
            }
        }
        .card-info {
            padding: 2rem;
            padding-bottom: 1rem;            
            margin-top: -3rem;
            color: $black;
            h2 {
                height: 3rem;
                @media (max-width: 705px) {
                    font-size: 1rem;
                    height: 5rem;
                }
            }
            .card-description {
                overflow: hidden;
                text-overflow: ellipsis;
                max-height: 76px;
                min-height: 76px;
            }
            .card-view-btn {
                height: 2.5rem;
                background: $primary;
                border: none;
                color: $white;
                text-transform: capitalize;
                font-weight: bold;
                width: 7rem;
                cursor: pointer;
                transition: .3s;
                &:hover {
                    opacity: .8;
                }
            }
        }
    }
    .card-comics {
        padding: 2rem;
        padding-top: 0;
        .comic-title {
            margin: 0;
        }
        .comic-list {
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
            .comic {
                font-size: .8rem;
                cursor: pointer;
                transition: .3s;
                margin-right: .5rem;
                margin-bottom: .5rem;
                width: 10rem;
                &:hover {
                    color: $primary;
                }
            }
        }
    }
}