<div class="card">
    <div class="flex">
        <div class="card-img" [ngStyle]="{'background-image': 'url(' + item.thumbnail.path + '.' + item.thumbnail.extension + ')'}">
        </div>
        <div class="card-info">
            <h2>{{ item.name }}</h2>
            <p class="card-description">
                {{ item.description }}
                <span *ngIf="!item description">There is no description of this character.</span>
            </p>
            <button class="card-view-btn" (click)="sendCharacter(item)">VIEW MORE</button>
        </div>
    </div>
    <div class="card-comics">
        <h2 class="comic-title">Related Comics</h2>
        <div class="comic-list">
            <div class="comic" *ngFor="let comic of item?.comics.items; let i=index">
                <span *ngIf="i<4" (click)="sendComic(comic.resourceURI)">{{ comic.name }}</span>
            </div>
        </div>
    </div>
</div>
