<app-header (results)="showItems($event)"></app-header>
<div class="container">
    <div class="cont-characters">
        <div class="cont-tool">
            <div class="cont-title">
                <img src="../../../assets/icons/characters.png" alt="">
                <h1>Characters</h1>
            </div>
        </div>
        <app-card *ngFor="let item of items?.results" [item]="item" (comic)="openComic($event)" (detail)="openDetail($event)"></app-card>   
    </div>
    <div class="cont-fav">
        <div class="cont-tool">
            <div class="cont-title">
                <img src="../../../assets/icons/favourites.png" alt="">
                <h1>My favorites</h1>
            </div>
        </div>
        <div class="cont-fav-cards">
            <app-favorite-card *ngFor="let item of comics" [item]="item" (update)="getComics()"></app-favorite-card>
        </div>
    </div>
</div>
<app-footer></app-footer>
<app-modal *ngIf="selectedComic" [item]="selectedComic" [type]="infoType" (close)="closeModal()" (update)="getComics()"></app-modal>
