@import "~src/scss/base/variables";
.container {
    display: flex;

    justify-content: space-between;
    min-height: 40rem;
    @media (max-width: 705px) {display: block;
    }
    .cont-characters {
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @media (max-width: 705px) {
            width: 100%;
        }
    }
    .cont-fav {
        background-color: $light-grey-2;
        width: 20%;
        min-width: 15rem;
        @media (max-width: 705px) {
            width: 100%;
            height: 28rem;
            display: block;
            padding-top: 1rem;
            .cont-fav-cards {
                display: flex;
                overflow: auto;
            }
        }
    }
    .cont-characters, .cont-fav{
        .cont-tool {
            width: 100%;
            display: flex;
            height: 2rem;
            margin-top: 2rem;
            padding-left: 2rem;
            padding-right: 2rem;
            .cont-title {
                color: $black;
                display: flex;
                h1 {
                    margin-left: .5rem;
                }
            }
        }
    }
}